<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
</head>

<body>
    <h1>Articles</h1>
    <% articles.forEach(article=> { %>
        <div>
            <h2>
                <%= article.title %>
            </h2>
            <p>
                <%= article.content %>
            </p>
            <img src="<%= article.image %>" alt="Article Image">
        </div>
        <% }) %>
</body>

</html>