<!DOCTYPE html>
<html>

<head>
    <title>Профиль</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Привет, <%= user.username %>!</h1>

        <% if (user.avatar) { %>
            <img src="<%= user.avatar %>" alt="Avatar" class="avatar">
            <% } else { %>
                <p>Аватар не загружен</p>
                <% } %>

                    <form action="/profile/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="avatar" required>
                        <button type="submit">Загрузить аватар</button>
                    </form>

                    <a href="/articles">
                        <button>Назад в Main</button>
                    </a>

                    <a href="/auth/logout">
                        <button class="logout">Выйти</button>
                    </a>
    </div>
</body>

</html>